body {
  font-family: "Sono", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #865dff;
}
::selection {
  background-color: white;
  color: #191825;
}

/* SCROLL BAR START*/
::-webkit-scrollbar {
  width: 1.2em;
}
::-webkit-scrollbar-track {
  background: hsl(250, 80%, 60%);
}
::-webkit-scrollbar-thumb {
  background: hsl(250, 70%, 40%);
}
::-webkit-scrollbar-thumb:hover {
  background: hsl(250, 70%, 25%);
}
/* SCROLL BAR END*/

.pricing-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  height: 120vh;
  align-items: center;
}
.pricing-container > * {
  margin: 3rem;
  text-align: center;
  background-color: #191825;
  color: #ffa3fd;
  border-radius: 20px;
  padding: 2rem;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 300px;
  box-shadow: 0px 7px 10px #865dff, 0px 7px 10px #ffa3fd;
}

.plan-title {
  margin-bottom: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  font-weight: bolder;
  background: linear-gradient(90deg, #191825, #865dff, #ffa3fd);
  color: white;
  border-radius: 10px;
  padding: 0.3rem;
}
.plan-price {
  font-weight: 900;
  font-size: 2rem;
}
li {
  text-align: left;
  list-style: none;
  line-height: 2;
  display: flex;
  align-items: center;
}
img {
  margin-right: 1rem;
}
.plan-button {
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  background-color: #191825;
  border: 3px solid #865dff;
  color: #865dff;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  cursor: pointer;
  text-shadow: 0px 0px 25px #865dff;
  transition: all 400ms;
  box-shadow: inset 0px 1px 5px #865dff, inset 1px -1px 5px #865dff;
}
.plan-button:hover {
  color: #ffa3fd;
  background-color: #191825;
  box-shadow: inset 0px 1px 5px #865dff, inset 1px -1px 5px #865dff,
    2px 2px 10px #865dff;
  transform: translateY(-3px);
  text-shadow: 0px 0px 25px #ffa3fd;
}
.plan-button:focus {
  transform: translateY(3px);
  transition: all 400ms;
  transform: scale(0.9);
}

@media (max-width: 1180px) {
  .pricing-container {
    flex-direction: column;
    height: 100%;
  }
}
